/* =============================================================================

    // LANDING CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Imports ================================================================== */

/*Palette*/
/* =============================================================================

    // PALETTE CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Greyscale ================================================================ */

/* Custom Colours =========================================================== */

/*Typography*/
/* =============================================================================

    // TYPOGRAPHY CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Media Queries ============================================================ */

/* Google Fonts ============================================================= */

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Padding Variables ======================================================== */


/* Selection ================================================================ */
::-moz-selection {
    background: rgba(255, 130, 0, 1);
    color: rgba(250, 250, 250, 1);
}
::selection {
    background: rgba(255, 130, 0, 1);
    color: rgba(250, 250, 250, 1);
}

/* Headings ================================================================= */
h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.7rem;}
h5 {font-size: 1.4rem;}
h6 {font-size: 1.2rem;}

h1, h2, h3, h4, h5, h6 {
    color: rgba(40, 40, 40, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 1rem 0

}

@media screen and (min-width: 801px) {
    h1, h2, h3, h4, h5, h6 {

        margin: 2rem 0;
    }
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {

    margin: 0 0 1rem 0
}

@media screen and (min-width: 801px) {
    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {

        margin: 0 0 2rem 0;
    }
}

/* Copy ===================================================================== */

/* Body Font */
p,
a,
strong,
em,
span,
blockquote,
article {
    color: rgba(40, 40, 40, 1);
    font-family: 'Droid Serif', serif;
}

p {
    margin: 1rem 0

}

@media screen and (min-width: 801px) {
    p {

        margin: 2rem 0;
    }
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 130, 0, 1);
    margin: 1rem 0

}

@media screen and (min-width: 801px) {
    hr {

        margin: 2rem 0;
    }
}

blockquote {
    border-left: .5rem solid rgba(255, 130, 0, 1);
    margin: 1rem 0;
    padding: 0 2rem

}

@media screen and (min-width: 801px) {
    blockquote {

        margin: 2rem 0;
    }
}

/* Anchors */
a,
a:visited,
a:link {
    color: rgba(255, 130, 0, 1);
    font-size: 1rem;
    text-decoration: none;
    transition: all .3s ease

}
@media screen and (min-width: 801px) {
    a:hover, a:visited:hover, a:link:hover {

        color: rgba(225, 225, 225, 1);
    }
}

/* Buttons ================================================================== */
.button,
.button:focus,
.button:active,
.button:link,
.button:visited {

}

/* Inputs =================================================================== */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: none;
    border: none;
    box-shadow: none;
}

/* Lists ==================================================================== */
ul {
    margin: 0 0 0 2rem;
    padding: 0

}
ul li {

    font-size: 1rem;
}

dl {
    margin: 0;
    padding: 0

}

dl dt {

    display: none;
}

dl dd {

    margin: 0;

    padding: 0;
}

/* Tables =================================================================== */

/* Splash =================================================================== */
.splash {
    background-image: url(../../assets/img/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 89vh;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw

}
@media screen and (min-width: 801px) {
    .splash {

        height: 100vh;

        left: 11vw;

        width: 89vw;
    }
}
.splash:after{

    background: rgba(40, 40, 40, 1);

    content: ' ';

    display: block;

    height: 100%;

    opacity: .2;

    width: 100%;
}
.splash >h1 {

    color: rgba(250, 250, 250, 1);

    font-size: 4rem;

    font-weight: 900;

    margin: 0;

    opacity: 0;

    position: absolute;

    top: 50%;

    left: 50%;

    text-align: center;

    text-shadow: 0 1px 4px rgba(0, 0, 0, .3);

    -webkit-transform: translate(-50%, -40%);

        -ms-transform: translate(-50%, -40%);

            transform: translate(-50%, -40%);

    transition: opacity .3s ease, -webkit-transform .3s ease;

    transition: opacity .3s ease, transform .3s ease;

    width: 100%;

    z-index: 50
}
@media screen and (min-width: 801px) {
    .splash >h1 {

        font-size: 7rem;
    }
}
.splash >h1.active {

    opacity: 1;

    -webkit-transform: translate(-50%, -60%);

        -ms-transform: translate(-50%, -60%);

            transform: translate(-50%, -60%);

    transition: opacity .3s ease, -webkit-transform .3s ease;

    transition: opacity .3s ease, transform .3s ease;
}
.splash >h1 img {

    display: inline-block;

    margin: 0 .5rem -.2rem 0;
}
.splash >h1 span {

    color: rgba(255, 130, 0, 1);
}
.splash >a {

    color: rgba(250, 250, 250, 1);

    font-family: 'Roboto Condensed', sans-serif;

    font-size: 1rem;

    font-weight: 500;

    position: absolute;

    left: 1rem;

    bottom: 1rem;

    z-index: 50
}
@media screen and (min-width: 801px) {
    .splash >a {

        left: 50%;

        bottom: 2rem;

        -webkit-transform: translate(-50%, 0);

            -ms-transform: translate(-50%, 0);

                transform: translate(-50%, 0);
    }
}
.splash >a:hover {

    color: rgba(255, 130, 0, 1);
}
.splash >span {

    color: rgba(250, 250, 250, 1);

    display: none;

    font-family: 'Roboto Condensed', sans-serif;

    font-size: .7rem;

    opacity: 0;

    position: absolute;

    top: 2.3rem;

    left: 1rem;

    z-index: 50
}
@media screen and (min-width: 801px) {
    .splash >span {

        display: block;
    }
}
.splash >span.active {

    opacity: 1;

    transition: opacity .3s ease;
}

/* Article ================================================================== */
.page {
    padding-top: 4rem;
}
